body{
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
}

#input{
	height: 200px;
	background: rgba( 0, 0, 0, 0.5 );
	border: none;
}

input{
	width: 100%;
	padding: 10px;
	margin: auto;
}
